[package]
name = "aoc_2015_day01"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
input_reader = { path = "../../../../lib/input_reader" }
derive_more = { version = "2", features = ["full"] }
